# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
title                    : "Jiahan Fan - Homepage" # Title displayed in the masthead and browser tab
description              : "" # Optional short description shown in the sidebar
repository               : "JiahanFan/JiahanFan.github.io" # GitHub repository used for assets such as scholar stats
google_scholar_stats_use_cdn : true

# google analytics
google_analytics_id      :  # get google_analytics_id from https://analytics.google.com/analytics/

# SEO Related
google_site_verification :  # get google_site_verification from https://search.google.com/search-console/about
bing_site_verification   :  # get bing_site_verification from https://www.bing.com/webmasters/about
baidu_site_verification  :  # get baidu_site_verification from https://ziyuan.baidu.com/login/index?u=/site/index

# Site Author
author:
  name             : "Jiahan Fan (范嘉涵)" # Name displayed in the sidebar
  avatar           : "images/star.jpg" # Profile image
  bio              : "Undergraduate student at Harbin Institute of Technology" # Short title/tagline
  location         : "Shenzhen, Guangdong, China" # City/region
  employer         : "" # Company or school (optional)
  pubmed           : "" # PubMed profile link (optional)
  googlescholar    : "" # Google Scholar profile link (optional)
  email            : "2023110987@stu.hit.edu.cn" # Email address
  researchgate     : "" # e.g. "https://www.researchgate.net/profile/xxx"
  uri              : "" # External personal site (optional)
  bitbucket        : ""
  codepen          : ""
  dribbble         : ""
  flickr           : ""
  facebook         : ""
  foursquare       : ""
  github           : "JiahanFan" # GitHub 用户名
  google_plus      : ""
  keybase          : ""
  instagram        : ""
  impactstory      : ""
  lastfm           : ""
  linkedin         : "" # LinkedIn 用户名或完整链接
  dblp             : ""
  orcid            : ""
  pinterest        : ""
  soundcloud       : ""
  stackoverflow    : ""
  steam            : ""
  tumblr           : ""
  twitter          : ""
  vine             : ""
  weibo            : ""
  xing             : ""
  youtube          : ""
  wikipedia        : ""


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - docs
  - google_scholar_crawler
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - .github
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
